
@{
    ViewBag.Title = "Ajaxsubmit";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjaxFormTest</title>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
   
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    
</head>
<body>
    <div id="comments">

        @using (Ajax.BeginForm("Ajaxsubmit", "User", new AjaxOptions() { UpdateTargetId = "comments" }))
        {
            @Html.AntiForgeryToken()

            <input id="Submit1" type="submit" value="submit" />
        }
    </div>
</body>