
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Sarang.Models.Employee
@{
    ViewBag.Title = "AutoComplete";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        $j("#Name").autocomplete({
            source: function (request, response) {
                $j.ajax({
                    url: "/User/Auto",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($j.map(data, function (item) {
                            return { value: item.FirstName };
                        }))

                    }
                })
            }

        });
    })
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">

            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

    </div>
}


