
@{
    ViewBag.Title = "Bio";
}

@using (Html.BeginForm("Bio", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
        <div style="background-color:white;margin-top:40px;height:450px">
            <center>
                <table style="margin-top:40px">
                    <tr>
                        <th>Address</th>
                        <td><textarea name="Address" rows="4" cols="50"></textarea></td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td><input type="number" placeholder="Enter your Number" name="PhoneNumber" id="PhoneNumber" class="form-control input-lg" /></td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td>
                            <input type="file" id="Certificate" name="Certificate" class="form-control input-lg" />
                        </td>
                    </tr>

                </table>

                <input type="submit" value="Submit" class="btn btn-success" />
            </center>
</div>
    
}

