
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm("ForgotPass", "User", FormMethod.Post))
{ 
<table>
    <tr>
        <th>Enter your EmailID</th>
        <td>
        <input type="email" class="form-control input-lg" value="@ViewBag.Email" readonly name="EmailID" id="EmailID" /></td>
    </tr>
</table>
    <input type="submit" value="Change Password" />
}

