
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkshow</title>
</head>
<body>
    <div> 
       <span>@ViewBag.data</span>

        
    </div>
</body>
</html>
