
@{
    ViewBag.Title = "Contactus";
}


<div style="height:300px">
    <address style="background:url(../../Models/Photo/college5.jpg);width:1200px;color:white;opacity:0.8;filter:alpha(opacity=80);margin-top:200px;margin-left:-82px">

        <h1 style="visibility:hidden">Hidden</h1>
        <h2 style="color:white"><b>Contact:</b></h2>

        <b><a href="mailto:Nilachal03@gmail.com"> Nilachal sethi</a></b><br />
        <b> <a href="callto:9658282138">Phone:9658282138</a></b><br />
        <b> <a href="callto:7787837988">Phone:7787837988</a></b><br />
        <p><b>Convergent Technologies</b></p>
        <p><b>19, Jharsa Rd, HVPNL Colony, Civil Lines,</b></p>
        <p> <b>Gurugram, Haryana 122007</b></p>

    </address>

</div>

