
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doc</title>
</head>
<body>
    <centre>
        <div >

            <table>
                <tr>
                    <td>
                        <img src="#" alt="Logo" height="100px" width="100px" />
                    </td>

                    <td>
                        <b>
                            Delhi public School
                        </b><br />
                            Address
                        
                    </td>
                </tr>
            </table>
            <hr />
            <div>

                <table>
                    <tr>
                        <td>
                            <img src="image" height="100px" width="100px" alt="Your profile picture" />
                        </td>

                        <td>

                        <b>Kamal kumar singh</b></td>
                       
                        <td>

                            <img src="" alt="Qr code" />
                        </td>
                    </tr>
                </table>
            </div>




        </div>
    </centre>
</body>
</html>
