
@{
    ViewBag.Title = "Mailed";
}

<div style="background:linear-gradient(45deg, #008cc9,#009ea5);height:360px;color:white">
    
   <h3 style="margin-top:100px"><b>Password reset successful. We've e-mailed you instructions for setting your password to the @ViewBag.mail e-mail address you submitted. You should be receiving it shortly..</b> </h3>

</div>