
@{
    ViewBag.Title = "ReactFirst";
    Layout = null;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script scr="@Url.Content("~/Script/Jsx/Hello.jsx")"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<h2>ReactFirst</h2>

<h2 id="container"></h2>

