
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AngularValidation</title>
</head>
<body>
    <div id="NameError">
        Your Name requireed
    </div>

    <div id="PhoneError">
        Your Phone number Required
    </div>

    <div id="SalaryError">
        Your Salary Required
    </div>

    <div id="DepartmentError">
        Your Department Required
    </div>
    <div id="EmailError">
        Your Email Address Required.
    </div>
    <div>

    </div>
</body>
</html>
